@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "Special Elite", cursive;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ccc;
    padding-right: 30px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

/* --- Section 1 --- */

}

.section-heading  {
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    letter-spacing: 10px;
    text-align: center;
    text-shadow: 3px 3px 5px #555;
   
    
  
}

.section-1-heading {
      position: relative;
      top: 20px;
      text-transform: uppercase;
      text-shadow: 1px 1px 1px #000, 2px 2px 2px #111, 3px 3px 3px #222;


}


.section-1  {
    flex-direction: column;
    background: url("../images/bg-section1.jpg") center no-repeat;
    background-size: cover;
   
}

.section-1-img {
    width: 90%;
}

/* --- Section 1 End --- */



/* --- Menu --- */
.menu {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
    transition: all 0.5s;
    flex-direction: column;
    cursor: pointer;

}

.menu.change {
    transform: rotate(45deg);
    left: 15vw;
}

.menu-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    box-shadow: 1px 1px 3px #222;
    transition: transform 0.5s;
}

.change .menu-line-1 {
    transform: rotate(270deg) translateX(-4px);
}

.change .menu-line-2 {
    transform: rotate(360deg) translateY(-4px);
}
/* --- Menu End --- */

/* --- Navbar --- */

.navbar {
    width: 15vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -15vw;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 40px;
    z-index: 10;
    transition: left 0.5s;
}

.navbar.change {
    left: 0;
}

.navbar-link {
    font-size: 15px;
    font-weight: 600;
    margin: 20px 20px 10px 0;
    color: #777;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: color 0.3s;

}

.navbar-link:hover {
    color: #111;
}

/* --- Navbar End --- */

/* --- Section --- */

.wrapper {
    width: 100%;
    perspective: 500px;
}

section {
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    position: relative;
    left: 0;
    margin-bottom: 30px;
    transform-origin: left;
    box-shadow: 5px 5px 10px #aaa;
    transition: left 0.5s, transform 0.5s;
}

section.change {
    left: 15vw;
    transform: rotateY(10deg);
}

/* --- Section End --- */


/* --- Section 2 --- */

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    width: 500px;
    margin: 0 30px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 6px 6px 6px #bbb;
    transition: box-shadow 0.5s;
    position: relative;
}

.card:hover {
    box-shadow: 8px 8px 8px #bbb;
}

.card-img {
    width: 100%;
    opacity: 0.8;
    transition: opacity 0.5s;
}

.card:hover .card-img {
    opacity: 1;
}

.car-name {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.car-price {
    font-size: 18px;
    color: #777;
    margin: 5px 0;
}

.card-btn {
    width: 100%;
    background-color: #fff;
    font-size: 17px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 1px 5px #bbb;
    cursor: pointer;
}



/* --- Section 2 End --- */
